.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.container section {
    display: flex;
    margin-top: 3rem;
    flex-wrap: wrap;

    align-content: center;
}

.container section > div {
    width: 50%;
}

.container section > div:last-child {
    padding-left: 2rem;
}

@media only screen and (max-width: 599px) {
    .container section > div {
        width: 100%;
    }

    .container section > div:last-child {
        margin-top: 2rem;
        padding-left: 0;
        margin-bottom: 3rem;
    }
}